<!DOCTYPE html>
<html>
    <head>
        <title>Repos</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/custom.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://vuejs.org/js/vue.min.js"></script>
    </head>
    <body>
        <!--loop through the number of compilations-->
        <div id="app" class="container">
            <div class="row" id="heading">
                <div class="col-xs-3 text-center">
                    <p> Timestamp </p>
                    <canvas id="canvas-ts" class="arrows"></canvas>
                </div>
                <div class="col-xs-2 text-center">
                    <p>Commit ID</p>
                    <canvas id="canvas-id" class="arrows"></canvas>
                </div>
                <div class="col-xs-1 text-center" v-if="show_branches == true">
                    <p>Branch</p>
                </div>
                <div class="col-xs-2 text-center">
                    <p>Username</p>
                    <canvas id="canvas-un" class="arrows"></canvas>
                </div>
                <div class="col-xs-1 text-center">
                    <p>PDF</p>
                </div>
                <div class="col-xs-1 text-center">
                    <p>Log File</p>
                </div>
                <div class="col-xs-1 text-center">
                    <p>Diff PDF</p>
                </div>
            </div>
            <div class="row" v-for="row in rows">
                <div class="col-xs-3 text-center">{{row.Timestamp}}</div>
                <div class="col-xs-2 text-center">
                    <a :href=row.URL :title=row.Message>
                        {{row.ID | abbreviate(8) }}
                    </a>
                </div>
                <div class="col-xs-1 text-center" v-if="show_branches == true">
                    <p>{{row.Branch}}</p>
                </div>
                <div class="col-xs-2 text-center" :title=row.RealName>{{row.Username}}</div>
                <div class="col-xs-1 text-center">
                    <a :href=row.PDFName>
                        {{row.PDFName | filename_print(5) }}
                    </a>
                </div>
                <div class="col-xs-1 text-center">
                    <a :href=row.LogName>
                        {{row.LogName | filename_print(5) }}
                    </a>
                </div>
                <div class="col-xs-1 text-center">
                    <a :href=row.DiffName>
                        {{row.DiffName | filename_print(5) }}
                    </a>
                </div>
            </div>
        </div>
        <script>
            v = new Vue({
                el: '#app',
                data: {
                    rows: [[.DBRows]],
                    show_branches: [[.ShowBranchesBool]],
                },
                filters: {
                    abbreviate: function(s,n) {
                        return s.slice(0,n)
                    },
                    filename_print: function(s,n) {
                        // strip the root of the filename to n characters (at most 10)
                        var MAXLENGTH = 7
                        var f_root = s.split('/').slice(-1)[0].split('.')[0] // filename root
                        var f_exts =
                            s.split('/').slice(-1)[0].split('.').slice(1).join('.')
                        if (f_root.length < MAXLENGTH) {
                                return f_root + "." + f_exts
                        }
                        if (f_root == "" || n == -1 && f_root.length < MAXLENGTH) {
                            return f_root == "" ? "" : f_root + "." + f_exts
                        }
                        if (f_root.length >= MAXLENGTH && n <= MAXLENGTH) {
                            // concatenate n characters of the filename root to
                            // all the extensions of the filename
                            return f_root.slice(0,n) + '\u00B7'.repeat(5) + f_exts
                        } else {
                            return f_root.slice(0,MAXLENGTH) + '\u00B7'.repeat(5) + f_exts
                        }
                    }
                }
            })
        </script>
    </body>
    <script src="/assets/drawArrows.js"></script>
    <script src="/assets/sort.js"></script>
            <script>
                window.onload = function() {
                    var socket = new WebSocket(
                        'ws://' +
                        window.location.hostname +
                        ":" +
                        window.location.port +
                        '/ws'
                    )
                    function sendPathname(evt) {
                        socket.send(JSON.stringify({"loc":
                            window.location.pathname}))
                    }
                    socket.onopen = socket.onclose = sendPathname
                    socket.onmessage = function(evt) {
                        console.log(evt.data);
                    }
                }
            </script>
</html>
